<ul class="cards">
    {% for card in cards %}
    <li class = "card">
        <div class="profile-thumbnail">
            {# <a href="{{ url_for('main.card', slug=card.slug) }}"> #}
                <img class="img-rounded profile-thumbnail" src="{{ card.image }}">
            {# </a>  #}
        </div>
        <div class="card-content">

            {# <div class="card-owner">
                <a href="{{ url_for('main.user', username=card.owner.username) }}">
                    {{ card.owner.username }}
                </a>
            </div> #}


            <div class="card-title">
                <h1><a href="{{ url_for('main.card', slug=card.slug) }}">{{ card.name }}</a></h1>
                <h5>Set Name: <i>{{card.set_name}}</i> &nbsp;&nbsp; Set Series: <i>{{card.set_series}}</i></h5>
                <h5>Rarity: <i>{{card.rarity}}</i></h5>
                <div>
                {% if card.normal_price_market %}
                Normal Market Price: ${{card.normal_price_market|round(2, 'common')}}
                {% endif %}
                </div>
                <div>
                {% if card.holofoil_price_market %}
                <span title="Foil effect in the card's picture">Holofoil</span> Market Price: ${{card.holofoil_price_market|round(2, 'common')}}
                {% endif %}
                </div>
                <div>
                {% if card.reverse_holofoil_price_market %}
                <span title='Foil effect on every part of the card except the illustration'>Reverse Holofoil</span> Market Price: ${{card.reverse_holofoil_price_market|round(2, 'common')}}
                {% elif not card.normal_price_market and not card.holofoil_price_market and not card.reverse_holofoil_price_market %}
                Market Price: No Data
                {% endif %}
                </div>
                <br>
                <div>
                Price Last Updated: {{card.last_updated}}
                </div>
                {% if card.url %}
                <div class='buy-sell'>
                <a href="{{card.url}}">Buy/Sell</a>
                </div>
                {% endif %}
            </div>


            {# <div class="card-description">
                {% if composition.description_html %}
                {{ composition.description_html | safe }}
                {% else %}
                {{ composition.description }}
                {% endif %}
            </div> #}

    </li>
    </div>
    {% if current_user.is_anonymous %}
    <div>
        <a class='btn btn-block' style='background-color:white; float: right'
    href="{{ url_for('auth.login')}}">Sign in to add to your collection</a>
    </div>
    <br>
    {% elif not card in current_user.cards %}

    <div>
        <a class="btn btn-block" style="background-color:white; float: right" href="{{ url_for('main.add', card_id=card.card_id) }}">
            Add to My Collection
        </a>
    </div>
    <br>

    {% elif card in current_user.cards %}

    <div>
        <a class="btn btn-block" style="background-color:white; float: right" href="{{ url_for('main.remove', card_id=card.card_id) }}">
            Remove from My Collection
        </a>
    </div>
    <br>

    {% endif %}
    {% endfor %}
</ul>