<ul class="cards">
    {% for card in cards %}
    <li class = "card">
        <div class="profile-thumbnail">
            {# <a href="{{ url_for('main.card', slug=card.slug) }}"> #}
                <img class="img-rounded profile-thumbnail" src="{{ card.image }}">
            {# </a>  #}
        </div>
        <div class="card-content">

            {# <div class="card-owner">
                <a href="{{ url_for('main.user', username=card.owner.username) }}">
                    {{ card.owner.username }}
                </a>
            </div> #}


            <div class="card-title">
               <h1><a href="{{ url_for('main.card', slug=card.slug) }}">{{ card.name }}</a></h1>
                {% if card.holofoil_price_market %}
                Holofoil Market Price: {{card.holofoil_price_market}}
                {% endif %}
            </div>


            {# <div class="card-description">
                {% if composition.description_html %}
                {{ composition.description_html | safe }}
                {% else %}
                {{ composition.description }}
                {% endif %}
            </div> #}
        </div>
    </li>
    {% if not card in current_user.cards %}
    <div>
        <a class="btn btn-block" style="background-color:white; float: right" href="{{ url_for('main.add', card_id=card.card_id) }}">
            Add to My Collection
        </a>
    </div>
    {% endif %}
    {% endfor %}
</ul>