{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class='form-profile'>
    <h1>Edit Profile</h1>
    {{ wtf.quick_form(form) }}

</div>
<br>
<div class='button-link'>
<a class="btn btn-default" style="background-color:white" href="{{ url_for('auth.change_email') }}">Change Email</a> &nbsp;&nbsp;
<a class="btn btn-default" style="background-color:white" href="{{ url_for('auth.change_username') }}">Change Username</button></a> &nbsp;&nbsp;
<a class="btn btn-default" style="background-color:white" href="{{ url_for('auth.change_password') }}">Change Password</button></a> &nbsp;&nbsp;
</div>

{% endblock content %}