{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{{ super() }}
<!DOCTYPE html>
{% block content %}
<html lang="en">
    <body id="page-top">
        <!-- Header-->
        <header class="masthead text-center text-white">
            <div class="masthead-content">
                <div class="container px-5">
                    <h2 class="masthead-heading mb-0">
                        {% if not user.is_anonymous %}
                        Welcome, {{ user.username }}!
                        {% else %}
                        Welcome to Card Again!
                        {% endif %}
                    </h2>
                    <h3 class="masthead-subheading mb-0">Search for Thousands of Cards</h3>
                    <br>
                    <div class='form-search'>
                     {{ wtf.quick_form(form)}}
                    </div>
                    <!-- <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">Learn More</a> -->
                </div>
            </div>

        </header>
        <div class='hidden-text'>
            <p>Data Provided by Pokémon TCG Developers API</p>
        </div>

{% endblock content %}