{% extends 'base.html' %}

{% block content %}
{{ super() }}
<div class="page-header">
    <h1>{{ user.username }}</h1>
    <img class="img-rounded user-profile-thumbnail" src="{{ user.avatar(175) }}">
    <br>
    <div class="profile-header">
    {% if current_user.is_anonymous %}
    {% elif current_user.is_following(user) and current_user.username != user.username %}
    <a class="btn btn-default" style="background-color: white" href="{{ url_for('.unfollow', username=user.username) }}">
        Unfollow
    </a>
    {% elif not current_user.is_following(user) and current_user.username != user.username %}
    <a class="btn btn-default" style="background-color: white" href="{{ url_for('.follow', username=user.username) }}">
        Follow
    </a>
    {% endif %}
    <br>
    <br>
    <button type="button" class="btn btn-light">
       <a href="{{ url_for('.following', username=user.username) }}">Following</a> <span class="badge badge-light">{{user.following.count() - 1}}</span>
      </button>
    <button type="button" class="btn btn-light">
        <a href="{{ url_for('.followers', username=user.username) }}">Followers</a> <span class="badge badge-light">{{user.followers.count() - 1}}</span>
       </button>
    <br>
    <table class="table" style="color: white">
        <tbody>
        <tr>
        <th scope="row">Name</th>
        <td>{% if user.name %}{{ user.name }}{% endif %}</td>
        </tr>
        <tr>
        <th scope="row">About Me</th>
        <td>{% if user.about_me %}{{ user.about_me }}{% endif %}</td>
        </tr>
        <tr>
        <th scope="row">Last seen</th>
        <td>{{ moment(user.last_seen).fromNow() }}</td>
        </tr>
        </tbody>
    </table>
    {% if user.username == current_user.username %}
    <a class="btn btn-default" style="background-color: white;" href="{{ url_for('.edit_profile') }}">
        Edit Profile
    </a>
    {% endif %}
    {#
    {% if current_user.is_administrator() %}
    <a class="btn btn-danger" href="{{ url_for('.admin_edit_profile', id=user.id) }}">
        Edit As Admin
    </a>
    {% endif %} #}
    </div>
</div>
<div class="collection-title">
<h1>{{user.username}}'s Card Collection</h1>
<p style='font-size: 18px'>Cards in Collection: {{ total_cards }}</p>
<p style='font-size: 18px'>Collection Normal Market Price Total: ${{ total_normal_market_price|round(2, 'common')}} </p>
<p style='font-size: 18px'>Collection Holofoil Market Price Total: ${{ total_holofoil|round(2, 'common')}} </p>
<p style='font-size: 18px'>Collection Reverse Holofoil Market Price Total: ${{ total_reverse|round(2, 'common')}} </p>

</div>

{% include '_cards.html' %}

<div class='pagination-text'>
    <h5>{{length_per_page}}</h5>
{% if prev_url %}
<a href="{{ prev_url }}">Previous Page</a>
{% endif %}
{% if next_url %}
<a href="{{ next_url }}">Next Page</a>
{% endif %}
</div>
<br>
{% endblock content %}